configuration {
  
  modi: "drun";
  display-drun: " ";
  drun-display-format: "{name} ";
  
  font: "Terminus 15";
  show-icons: false;
  fullscreen: false;
}

element.selected.normal {
  border:  1;
  border-color: red/80%;
  background-color: @sc;
  text-color:       white;
}

listview {
  spacing:      0px ;
  scrollbar:    false;
  padding:      0.5em;
  //background-color: purple/50%;

  expand:       true;
  border:       0px 2px 2px ;
  //border-color: @new-bc;
  border-radius: 0px 0px 10px 10px;
}

window {
  background-color: @bg;
  border:           4;
  padding:          3;
  //children: [ entry, listview ];
}

mainbox {
  background-color: transparent;
  border:  0;
  padding: 0;
}

entry {
  placeholder: "insert ";
}

element {
  orientation: horizontal;
  children: [ element-text ];
  spacing: 0px;
}

element-text {
  vertical-align: 0.5;
}

entry, element-text {
  text-color: white;
  background-color: rgb(0,0,0);
  //border-color: #000000;
}

inputbar {
  size             : 10em;
  enabled          : true;
  padding          : 2px;
  spacing          : 2px;
  children         : [ entry ];
  border           : 0 0 2px 0 solid;
  border-color     : @new-bc;
  border-radius    : 2px;
  //background-color : @bg-input;
  //text-color       : @fg;
}

* {
  sc:  rgba ( 250, 251, 252, 100 % );
  transperent: #FF444444;
  bg: #000000; 
  bc: #995bd5;
  new-bc: #820706;
  background-color: @bg;

  border-color: @new-bc; 

  border: 0.2;
}

